DB_USER=postgres
DB_PASSWORD=docker
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=recruitment
DB_SCHEMA=task

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}?schema=${DB_SCHEMA}&sslmode=prefer"
SHADOW_DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}?schema=dbmigration&sslmode=prefer"

JWT_SECRET="5Wbc8JZ6QRAoG@y+Q$UmH4nG%9*3v?o+1rN0xE@L^TbFzI6SjC5kYlM1uK#8Xt"
REFRESH_TOKEN_TIME=1 #days
